.dream {
    font-family: Adler;
    font-size: 15pt;
}

.dream-img-med {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
}

.dream-img-sm {
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
}

.dream-img-left {
    float: left;
}

.dream-img-right {
    float: right;
}

.centered {
    text-align: center;
}

.title {
    font-family: Adler;
    font-size: 50pt;
}

.subtitle {
    font-family: Adler;
    font-size: 25pt;
}

html {
    background-color: #c7b692;
}

.cover-photo {
    margin-top: 100px;
    max-width: 500px;
    max-height: 500px;
}