.dream {
    font-family: Adler;
    font-size: 25pt;
}

.dream-img-med {
    max-width: 500px;
    max-height: 500px;
}

.title {
    font-family: Adler;
    font-size: 50pt;
}

.subtitle {
    font-family: Adler;
    font-size: 25pt;
}

body {
    background-color: grey;
}